/************PAGE-GALERIE**************/

.page-galeries{
    position: relative;
    top: 80px;
}
.page-galeries .galeries-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.galeries-items .galerie-item-line{
    border: 0.5px solid #ccc;
    margin: 0 auto;
    animation: scale 3s ease;
}

.page-galeries .galeries-items .galerie-item-line img{
    height: 150px;
    width: 150px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
    animation: animate 3s ease;
}

/***********ANIMATION*************/

@keyframes animate {
    from{
       transform: scale(0); 
    }
    to{
        transform: scale(1.1);
    }
}

.galeries-items .galerie-item-line img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

 /***********MEDIA************/

@media screen and (max-width: 850px) {
    .page-galeries .galeries-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 636px) {
    .page-galeries .galeries-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 350px) {
    .page-galeries .galeries-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}